<footer>
	<div class="row expanded">
		<div class="medium-6 column">
			<!--<ul class="menu">
				<li><a href="#">Legal</a></li>
				<li><a href="#">Partner</a></li>
				<li><a href="#">Explore</a></li>
			</ul>-->
		</div>
		<div class="medium-6 column"><br/>
			<ul class="menu align-right">
				<!--<li class="menu-text">Copyright © 2016 Tempdress</li>-->
			</ul>
		</div>
	</div>
</footer>