<!-- app/views/main/_navigation.html.erb -->

<nav class="top-bar" data-topbar role="navigation">
  <div class="row">
    <div class="small-12 column">
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/">Tempdress</a></h1>
		    </li>

		    <li class="toggle-topbar">
		      <a href="#"><span>Menu</span></a>
		    </li>
		  </ul>
		  <ul class="date">
		  	<li><%= Time.now.strftime("%A, %B %d") %></li>
		  </ul>
		  <hr/>
		</div>
	</div>
</nav>