<div id="weather">
	<%= render 'weather' %>
</div>
<div id="days">
		
	<% (0..3).each do |i| %>
		<% @label = case i
				when 0
					"Today"
				when 1
					"Tomorrow"
				else
				  (Time.now + i.days).strftime("%A")
			end
		%>
		<p class="day-control">
			<%= link_to view_day_path(:day => i), :remote => true, data: {type: "script"} do %>
			  <%= @label %><span></span>
			<% end %>
		</p>   
	<% end %>
</div>