<div id="conditions">
	<div id="icon">
		<i class="wi wi-owm-<%= @currentweather['id'] %>"></i>
	</div>
	<div id="clouds"><%= @todayclouds %><sup>%</sup></div>
</div>
<div id="temperatures">
	<div id="high"><%= @todaytemp['max'].round %>&deg;</div>
	<div id="low"><%= @todaytemp['min'].round %>&deg;</div>
</div>