 $("body").css("background-image", "url(<%= escape_javascript(@background.image.url)%>)"); 
 $("#outfit_info").html("<%= escape_javascript(render partial: 'items') %>"); 
 $("#weather").html("<%= escape_javascript(render partial: 'weather') %>"); 
 $('.day-control a').eq("<%=@day%>").addClass("selected");
