<div class="row" data-equalizer>

	<% for i in 1..2 %>
	  <div class="medium-4 column clothes" data-equalizer-watch>
			<% @clothes = @outfit.clothing_items.where("column_num = ?", i).order("outfit_item_details.position ASC") %>
			<% @clothes.each do |c| %>
			  <a class="<%= c.size %> clothing-item" href="<%= c.link %>" target="_blank">
			  	<%= image_tag c.image.url(:large) %>
			 	</a>
			<% end %>
		</div>
	<% end %>

	<div id="outfit_description" class="medium-4 column" data-equalizer-watch>
		<main class="description_wrapper">
			<h2><%= @outfit.name %></h2>
			<div id="content">
				<strong>#<%= @outfit.id %>.</strong> 
				<%= @outfit.description %>
			</div>
		</main>
	</div>

</div>