<div class="conditions index">
  <h2>Conditions</h2>

  <%= link_to("Add New Condition", {:action => "new"}, :class => 'action new') %>

  <table class="listing" summary="Condition list">
    <tr class="header">
      <th>Condition</th>
      <th>Weather Code</th>
    </tr>
    <% @conditions.each do |condition| %>
    <tr>
      <td><%= condition.name %></td>
      <td><%= condition.owm_code %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => condition.id}, :class => 'action show') %>
        <%= link_to("Edit", '#', :class => 'action edit') %>
        <%= link_to("Delete", '#', :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
