<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="conditions new">
  <h2>Create Condition</h2>

  <%= form_for(:condition, :url => {:action => 'create'}) do |f| %>

    <table summary="Condition form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Weather Code</th>
        <td><%= f.text_field(:owm_code) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Condition") %>
    </div>

  <% end %>
</div>
