<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="conditions show">
  <h2>Show Condition</h2>

  <table summary="Condition detail view">
    <tr>
      <th>Name</th>
      <td><%= @condition.name %></td>
    </tr>
    <tr>
      <th>Weather Code</th>
      <td><%= @condition.owm_code %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @condition.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @condition.updated_at %></td>
    </tr>
  </table>

</div>
