<div class="temperatures index">
  <h2>Temperatures</h2>

  <%= link_to("Add New Temperature", {:action => "new"}, :class => 'action new') %>

  <table class="listing" summary="Temperature list">
    <tr class="header">
      <th>Temperature</th>
      <th>Degree Min</th>
      <th>Degree Max</th>
    </tr>
    <% @temperatures.each do |temperature| %>
    <tr>
      <td><%= temperature.name %></td>
      <td><%= temperature.degree_min %></td>
      <td><%= temperature.degree_max %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => temperature.id}, :class => 'action show') %>
        <%= link_to("Edit", '#', :class => 'action edit') %>
        <%= link_to("Delete", '#', :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
