<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="temperatures new">
  <h2>Create Temperature</h2>

  <%= form_for(:temperature, :url => {:action => 'create'}) do |f| %>

    <table summary="Temperature form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Degree Minimum</th>
        <td><%= f.text_field(:degree_min) %></td>
      </tr>
      <tr>
        <th>Degree Maximum</th>
        <td><%= f.text_field(:degree_max) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Temperature") %>
    </div>

  <% end %>
</div>
