<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="temperatures show">
  <h2>Show Temperature</h2>

  <table summary="Temperature detail view">
    <tr>
      <th>Name</th>
      <td><%= @temperature.name %></td>
    </tr>
    <tr>
      <th>Degree Minimum</th>
      <td><%= @temperature.degree_min %></td>
    </tr>
    <tr>
      <th>Degree Maximum</th>
      <td><%= @temperature.degree_max %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @temperature.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @temperature.updated_at %></td>
    </tr>
  </table>

</div>
