<%= simple_form_for(@outfit) do |f| %>
  <%= f.error_notification %>
  <% @conditions = Condition.all %>
  <% @temps = Temperature.all %>
  <% @items = ClothingItem.all %>

  <div class="form-inputs">
  	<%= f.input :name %><br/>
    <%= f.input :description %><br/>

    <% @clothes = @outfit.clothing_items %>

  	<%= f.collection_check_boxes(:clothing_item_ids, @items, :id, :name, allow_destroy: true) do |b, c| %>
      <% item = @items.detect{|img| img.id == b.value } %>
      <div class="clothing-item-choice">
				<%= image_tag(item.image.url(:small)) %><br/>
				<%= b.label { b.check_box + b.text } %>
			</div>
    <% end %>

    <br/>

    <% @conditions.each do |c| %>
      <%= c.name %>: <%= f.radio_button :condition_id, c.id %> &nbsp;
    <% end %>

    <br/>

    <% @temps.each do |c| %>
      <%= c.name %>: <%= f.radio_button :temperature_id, c.id %> &nbsp;
    <% end %>

    <br/>

    Daytime look? <%= f.check_box(:day) %><br/>
    
    Publish? <%= f.check_box(:visible) %><br/>
      
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
