<p id="notice"><%= notice %></p>

<h1>Listing Outfits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Condition</th>
      <th>Temperature</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outfits.each do |outfit| %>
      <tr>
        <td><%= outfit.name %></td>
        <td><%= outfit.condition.name %></td>
        <td><%= outfit.temperature.name %></td>
        <td><%= outfit.visible ? 'Published' : 'Draft' %></td>
        <td><%= link_to 'Show', outfit %></td>
        <td><%= link_to 'Edit', edit_outfit_path(outfit) %></td>
        <td><%= link_to 'Destroy', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outfit', new_outfit_path %>
