<p id="notice"><%= notice %></p>

<div class="outfits show">
  <h2>Show Outfit</h2>

  <table summary="Outfit detail view">
    <tr>
      <th>Name</th>
      <td><%= @outfit.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @outfit.description %></td>
    </tr>
    <tr>
      <th>Condition</th>
      <td><%= @outfit.condition.name %></td>
    </tr>
    <tr>
      <th>Temperature</th>
      <td><%= @outfit.temperature.name %></td>
    </tr>
    <tr>
      <th>Day or Evening</th>
      <td><%= @outfit.day ? 'Day' : 'Evening' %></td>
    </tr>
     <tr>
      <th>Clothing Items</th>
      <td>
        <% @clothes = @outfit.clothing_items %>
        <ul>
        <% @clothes.each do |c| %>
          <li><%= c.name %></li>
        <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th>Published</th>
      <td><%= @outfit.visible ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @outfit.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @outfit.updated_at %></td>
    </tr>
  </table>

</div>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
