<%= simple_form_for(@weather_background, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <% @conditions = Condition.all %>
  <% @temps = Temperature.all %>

  <div class="form-inputs">
    <%= f.input :name %><br/>
    
    <% @conditions.each do |c| %>
      <%= c.name %>: <%= f.radio_button :condition_id, c.id %> &nbsp;
    <% end %>

    <br/>

    <% @temps.each do |c| %>
      <%= c.name %>: <%= f.radio_button :temperature_id, c.id %> &nbsp;
    <% end %>
    
    <br/>
   
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
