<p id="notice"><%= notice %></p>

<h1>Listing Weather Backgrounds</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Condition</th>
      <th>Temperature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weather_backgrounds.each do |weather_background| %>
      <tr>
        <td><%= image_tag(weather_background.image.url(:small)) %></td>
        <td><%= weather_background.name %></td>
        <td><%= weather_background.condition.present? ? weather_background.condition.name : "Any" %></td>
        <td><%= weather_background.temperature.present? ? weather_background.temperature.name : "Any" %></td>
        <td><%= link_to 'Show', weather_background %></td>
        <td><%= link_to 'Edit', edit_weather_background_path(weather_background) %></td>
        <td><%= link_to 'Destroy', weather_background, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather background', new_weather_background_path %>
