<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weather_background.name %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @weather_background.condition.present? ? @weather_background.condition.name : "Any" %>
</p>

<p>
  <strong>Temperature:</strong>
	<%= @weather_background.temperature.present? ? @weather_background.temperature.name : "Any" %>
</p>

<p>
  <strong>Image:</strong>
	<%= link_to image_tag(@weather_background.image.url(:med)), @weather_background.image.url %>
</p>

<%= link_to 'Edit', edit_weather_background_path(@weather_background) %> |
<%= link_to 'Back', weather_backgrounds_path %>
