<%= simple_form_for(@clothing_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %><br/>
  	<%= f.input :link %><br/>
  	<%= f.input :price %><br/>
    <%= f.file_field :image, class: 'form-control'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
