<p id="notice"><%= notice %></p>

<h1>Listing Clothing Items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clothing_items.each do |clothing_item| %>
      <tr>
        <td><%= image_tag(clothing_item.image.url(:small)) %></td>
        <td><%= clothing_item.name %></td>
        <td><%= number_to_currency(clothing_item.price) %></td>
        <td><%= link_to 'Show', clothing_item %></td>
        <td><%= link_to 'Edit', edit_clothing_item_path(clothing_item) %></td>
        <td><%= link_to 'Destroy', clothing_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clothing item', new_clothing_item_path %>
