/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.top-bar {
  background: transparent;
  height: 4rem;
  line-height: 4rem;
  margin-top: 50px;

  .name {
  	height: 4rem;

  	h1 {
  		font-size: 3rem;
  		line-height: 3rem;

  		a {
  			text-decoration: none;
  		}
  	}
  }

	.date {
		color: #fff;
		font-size: 1.4em;
		float: right;
		margin-top: 21px;
	}
}

#outfit_description {
	display: table;

	.description_wrapper {
		display: table-cell;
	  vertical-align: bottom;

	  h2,
	  #content {
	  	background: rgba(0,0,0,.5);
	  	color: #fff;
	  	padding: 10px 20px;
	  }

	  h2 {
	  	font-size: 1.25rem;	  	
	  }
	}
}

#weather_info {

	#days,
	#weather > div {
		clear: both;
    float: right;
		margin-bottom: 20px;
	}

	#conditions,
	#temperatures {
		width: 130px;
		position: relative;
	}

	#conditions:after,
	#temperatures:after,
	#conditions:before,
	#temperatures:before {
		border-right: 130px solid transparent;
		border-top: 130px solid rgba(154, 15, 200, 0.65);
		content: '';
		display: block;
		height: 0;
		position: absolute;;
		width: 0;
	}

	#conditions:after,
	#temperatures:after {
		border: none;
		border-left: 130px solid transparent;
		border-bottom: 130px solid rgba(255, 0, 177, 0.65);
		bottom: 0;
	}

	#temperatures:before {
		border-top-color: rgba(5, 198, 202, 0.65)
	}

	#temperatures:after {
		border-bottom-color: rgba(5, 100, 102, 0.65)
	}

	#conditions > div,
	#temperatures > div {
	  color: #fff;
    font-size: 2.2rem;
		line-height: 65px;
		height: 65px;
    padding: 0 15px;
 		position: relative;
    z-index: 1;
	}

	#conditions {
		#icon {
    	font-size: 3rem;
    	padding-top: 5px;
    }
  }

	#clouds,
	#low,
	#days {
		text-align: right;
	}

	sup {
		position: relative;
    top: 6px;
  }

  #conditions sup {
		font-size: 50%;
		position: relative;
    top: -13px
	}
}

#days {
	
	p {
		font-size: 0.875rem;
		margin-bottom: 6px;
		margin-right: 0;

		a {
			color: inherit;
			text-decoration: none;

			span {
		    background: #fff;
		    border: 12px solid #6FB0DA;
		    display: inline-block;
		    height: 24px;
				margin-left: 15px;
		    opacity: .8;
		    transition: all 0.2s ease;
		    vertical-align: middle;
		    width: 24px;
			}
		}

		a.selected {
			span {
			  border-width: 6px;
			}
		}

	}
}

.clothes {
	.clothing-item {
		img {
	    margin-bottom: 18px;
	  }
	}
	.clothing-item:last-child {
		img {
			margin-bottom: 0;
		}
	}
}