<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body id="main" style="background-image: url(<%= @background.image.url %>);">

    <%= render 'navigation' %>
    
    <div class="row">
      <article id="outfit_info" class="large-10 medium-12 column">
        <%= render 'items' %>
      </article>
      <aside id="weather_info" class="large-2 medium-3 column">
        <%= render 'sidebar' %>
      </aside>
    </div>
    <%= render 'footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>